<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
          <v-card>
            <v-card-title>{{title}}</v-card-title>
            <v-card-text>
              <template v-if='state==0'>
                <v-btn @click='home()'>Home</v-btn>
                <v-btn @click='suffer()'>เริ่มเล่น</v-btn>
              </template>
              <template v-if='state==1'>
                <v-row>
                  <v-col v-for="(c,i) of cards" cols="2" class='text-center'>
                    <img v-if='c.s==0' src='work1/hide.png' width="80" height="80" @click='imgclick(c)'>
                    <img v-if='c.s==1' :src="'work1/'+c.t+'.png'" width="80" height="80">
                  </v-col>
                </v-row>
                <v-btn @click='state=0'>เลิกเล่น</v-btn>
              </template>
              <template v-if='state==2'>
                <h1>คุณชนะแล้ว เก่งมาก</h1><br>
                <v-btn @click='state=0'>ตกลง</v-btn>
              </template>
            </v-card-text>
            <v-bottom-navigation>{{footer}}</v-bottom-navigation>
          </v-card>

        </v-container>


      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        title: "Work 2: เกมจับคู่ภาพ โดยใช้ VueJS",
        footer: "623020040-4 นายหัสวรรษ อัคติ สาขาวิทยาการคอมพิวเตอร์",
        state: 0,
        cards: [],
        cards_opened: [],
        cards_count: 0,
      },
      vuetify: new Vuetify(),
      methods: {
        suffer() {
          this.state = 1;
          this.cards = [];
          this.cards_opened = [];
          this.cards_count = 36;
          for (var i = 1; i <= 18; i++) {
            this.cards.push({ t: i, s: 0 });
            this.cards.push({ t: i, s: 0 });
          }
          for (var i = 1; i < 100; i++) {
            var a = Math.round(Math.random() * 35);
            var b = Math.round(Math.random() * 35);
            var t = this.cards[a];
            this.cards[a] = this.cards[b];
            this.cards[b] = t;
          }
        },
        home() {
          window.location.href = 'index.html';
        },
        imgclick(c) {
          if (this.cards_opened.length < 2) {
            c.s = 1;
            this.cards_opened.push(c);
            // เมื่อเปิด card ครบ 2 ใบ ให้ตั้งเวลาเพื่อเรียก checkCard 
            if (this.cards_opened.length == 2) {
              setTimeout(this.checkCard, 1000);
            }
          }
        },
        checkCard() {
          // ให้  a และ b card ทั้ง 2 ใบที่เปิดอยู่
          var a = this.cards_opened[0];
          var b = this.cards_opened[1];
          this.cards_opened = [];
          if (a.t == b.t) {  // รูปตรงกัน
            a.s = 2;      // s=2 หมายถึงลบภาพออก
            b.s = 2;
            this.cards_count -= 2;
          } else {
            a.s = 0;    // s=0 หมายถึง ปิดภาพ
            b.s = 0;
          }
          if (this.cards_count == 0) {  // ไม่เหลือ card บนจอ
            this.state = 2;          // เปลี่ยน state เป็น 2 เพื่อแสดงหน้า ชนะ
          }
        }


      }
    })
  </script>
</body>

</html>